// color

$color-green: #50e3c2;
$color-gray-light: rgba(0, 0, 0, .1);
$color-gray-dark: rgba(0, 0, 0, .3);
$color-white: #ffffff;
$color-black: #000000;
$color-bg-gray: #f4f4f4;

// font size
$font-size-title: 72px;
$font-size-title2: 48px;
$font-size-title3: 24px;
$font-size-subtitle: 24px;
$font-size-paragraph: 16px;
$font-size-logo: 20px;

// breakpoint
$mq-pad: 768px;
$mq-mobile: 767px;

// @media screen and (max-width: $mq-pad) {
// }
// @media screen and (max-width: $mq-mobile) {
// }
